body{
  background-color: rgb(227, 224, 224);
} 

.neav{
  text-align: left;
  margin-top: 300px;
  font-size:50px; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
} 


#header{
  position: absolute;
  top: 10px;
  left: 5px; 
  width: 500px;   
  height: auto;  
  border: 1pc rgb(252, 248, 248) solid; 
  background: transparent; 
} 
#header button{
  margin :4px;
  color: rgb(251, 255, 253);  
  background-color: rgb(8, 8, 8); 
  display: inline-block; 
  margin-left: 0px;
}

#image{ 
  position: absolute;
  top: 10px;
  right: 5px; 
  width: 700px;   
  height: auto; 

     
} 
#shop{
  margin:4px;
  color: rgb(245, 247, 246);  
  background-color: rgb(9, 9, 9); 
  
}  

#look{
  margin:4px;
  color: rgb(251, 255, 253);  
  background-color: rgb(8, 8, 8); 
  
}


.para{
  font-size: 24px; 
  font-style: oblique;

}
