.contact-container {
  padding: 40px;
  max-width: 1100px;
  margin: auto;
}

.page-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-box {
  display: flex;
  gap: 40px;
}

.contact-info {
  width: 40%;
  font-size: 18px;
}

.contact-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.contact-form button {
  background: black;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
