.email-container {
  padding: 40px;
  text-align: center;
}

.email-box {
  margin-top: 30px;
}

.email-btn {
  background: #f0c14b;
  border: 1px solid #a88734;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.help-text {
  margin-top: 15px;
  color: gray;
}
