.products-container {
  padding: 40px;
  max-width: 1150px;
  margin: auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.product-card {
  padding: 15px;
  border-radius: 12px;
  background: white;
  border: 1px solid #ddd;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card button {
  margin-top: 12px;
  background: #ffd814;
  border: 1px solid #fcd200;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
.product-card button:hover {
  background: #f7ca00;
}