.search-container {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.search-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.search-text {
  margin-top: 15px;
  color: gray;
  font-size: 18px;
}
.search-results {
  margin-top: 30px;
}